<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\internal_logs\internalLog.txt"
      >

  <targets>
    <target name="file" xsi:type="File"
        layout="${longdate} ${level:uppercase=true} ${message}"
        fileName=".\logs\${shortdate}_logfile.txt"
        encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>